<ion-header>
  <!--
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
-->
  <ion-title>login</ion-title>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img src="../assets/icon/ping.png" />
  </div>
  <ion-item class="loginUsername">
    <ion-input placeholder="Username" type="text"></ion-input>
  </ion-item>
  <ion-item class="loginPassword">
    <ion-input placeholder="Password" type="password"></ion-input>
  </ion-item>
  <br />
  <div class="ion-text-center">
    <ion-button color="primary">Login</ion-button>
  </div>
  <div class="ion-text-center">
    <a href="/forget-password" routerDirection="forward"> Forgot Password? </a>
    <ion-item-divider> </ion-item-divider>
  </div>
  <br />
  <div class="ion-text-center">Don't have a account?</div>
  <br />
  <div class="ion-text-center">
    <ion-button href="/register" color="primary">Sign Up</ion-button>
  </div>
</ion-content>
