<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-back-button></ion-back-button>
      <ion-title>Change new {{mode}}</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-back-button></ion-back-button>
  <div *ngIf="mode=='name'">
    <ion-input placeholder="Enter first name" type="text"></ion-input>
    <ion-input placeholder="Enter last name" type="text"></ion-input>
    <ion-button href="/user-profile" color="primary">Submit n</ion-button>
  </div>
  <div *ngIf="mode=='password'">
    <ion-input placeholder="Enter new Password" type="password"></ion-input>
    <ion-input placeholder="Re-enter new Password" type="password"></ion-input>
    <ion-button href="/user-profile" color="primary">Submit p</ion-button>
  </div>
  <div *ngIf="mode=='email'">
    <ion-input placeholder="Enter new Email" type="text"></ion-input>
    <ion-input placeholder="Re-enter new Email" type="text"></ion-input>
    <ion-button href="/user-profile" color="primary">Submit e</ion-button>
  </div>
  <div *ngIf="mode=='payment method'">
    <ion-input
      placeholder="Enter card number"
      maxlength="20"
      type="tel"
    ></ion-input>
    <ion-row>
      <ion-col size="1">
        <ion-datetime
          min="1994"
          max="2090"
          displayFormat="MM/YY"
          monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"
          placeholder="MM/YY"
        ></ion-datetime>
      </ion-col>
      <ion-col size="2">
        <ion-input placeholder="CIV" type="password" maxlength="3"></ion-input>
      </ion-col>
    </ion-row>
    <ion-button href="/user-profile" color="primary">Submit paylah</ion-button>
  </div>
</ion-content>
