<ion-header>
  <ion-toolbar>
    <ion-title>userProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="2">
        <ion-icon
          name="person"
          color="primary"
          style="width: 125px; height: 125px"
        ></ion-icon>
        <br />
        <div class="ion-text-start">
          <a href="/forget-password" routerDirection="forward">
            Edit Profile Picture
          </a>
        </div>
      </ion-col>
      <ion-col>
        <h1>Mary Tan</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col class="ion-align-self-center">
        <div class="ion-text-left">
          <ion-icon name="pencil" color="primary"></ion-icon>
          <a href="/forget-password" routerDirection="forward">
            Edit password
          </a>
          <br />
          <ion-icon name="pencil" color="primary"></ion-icon>
          <a href="/forget-password" routerDirection="forward"> Edit email </a>
          <br />
          <ion-icon name="pencil" color="primary"></ion-icon>
          <a href="/forget-password" routerDirection="forward">
            Edit payment method</a
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
