<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>userProfile</ion-title>
      <ion-item class="ion-text-right" (click)="logout()" href="/login">
        <ion-col class="ion-align-self-right">
          <ion-icon name="log-out"></ion-icon>
          Logout
        </ion-col>
      </ion-item>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="2">
        <ion-icon
          name="person"
          color="primary"
          style="width: 125px; height: 125px"
        ></ion-icon>
        <br />
        <div class="ion-text-start">
          <a href="/forget-password" routerDirection="forward">
            Edit Profile Picture
          </a>
        </div>
      </ion-col>
      <ion-item (click)="goToEdit('name')">
        <ion-icon name="pencil" color="primary"></ion-icon>
        <ion-col>
          <h1>Mary Tan</h1>
        </ion-col>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col class="ion-align-self-center">
        <div class="ion-text-left">
          <ion-item (click)="goToEdit('password')">
            <ion-icon name="pencil" color="primary"></ion-icon>Edit
            Password</ion-item
          >
          <br />

          <ion-item (click)="goToEdit('email')"
            ><ion-icon name="pencil" color="primary"></ion-icon>Edit
            Email</ion-item
          >
          <br />

          <ion-item (click)="goToEdit('payment method')">
            <ion-icon name="pencil" color="primary"></ion-icon>Edit Payment
            Method</ion-item
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
