<ion-header> </ion-header>

<ion-content>
  <div class="ion-text-center">
    <img src="../assets/icon/ping.png" />
  </div>
  <ion-item class="FirstName">
    <ion-input placeholder="First Name" type="text"></ion-input>
  </ion-item>
  <br />
  <ion-item class="LastName">
    <ion-input placeholder="Last Name" type="text"></ion-input>
  </ion-item>
  <br />
  <ion-item class="email">
    <ion-input placeholder="Email" type="text"></ion-input>
  </ion-item>
  <br />
  <ion-item class="password">
    <ion-input placeholder="Password" type="text"></ion-input>
  </ion-item>
  <br />
  <ion-item class="confirmPassword">
    <ion-input placeholder="Confirm Password" type="text"></ion-input>
  </ion-item>
  <div class="ion-text-center">
    <ion-button color="primary" href="/home">Sign Up</ion-button>
  </div>
</ion-content>
